.parent {
  margin: 0 auto;
  width: 60%;
}

.parent > img {
  width: 100%
}

.list-item {
  display: flex;
  border: 1px solid black;
  margin: 5px auto;
  border-radius: 10px;
}

.list-item > div {
  flex: 1;
}

.list-item img {
  padding-left: 10px;
}

.list-item .time {
  text-align: right;
}

.inactive {
  display: none;
}
